

header
{
    background-color:green;
    width: 100%;
    height: 40px;
}


#logo
{
    margin-left:20px;
    margin-top: 7px
    margin-bottom: 7px;
    height:40px
}

nav a
{

    text-decoration: none;
    color: white;
    float:inline-start;
    /*border: 1px solid wheat;*/
    
    
    padding: 7px;
    margin-right: 21px;
margin-left: 5px;

}

nav{
    float:right;
    margin-top: 1px;
}




nav a:hover
{
background-color: teal;
color: white;
}
#logo 
{
    margin-left: 70px;
    margin-top: 7px
    margin-bottom: 7px;
}
.textgrp{
    color:white;
    margin-top: 13%;
    margin-left: 3%;
    margin-right: 50%;
    width: 50%;
}
.textgrp h4
{
padding-left: 3%;
}
nav  #t1{

    margin-left: 70px;
    margin-top: 7px;
    float: left;
    
}

/*form
{
    float: right;
    border: 2px solid red;
    background-color: beige;
    height: 15em;
    margin-right:30px ;
    margin-top: 60px;
    padding: 4%;
}*/

#f1
{
    float: right;
    border: none;
    background-color:white;
    height: 30em;
    margin-right:30px ;
    margin-top: 60px;
    padding: 4%;
}

#f2
{
    float: right;
    border:none;
    background-color:white;
    height: 35em;
    margin-right:30px ;
    margin-top: 60px;
    padding: 4%;
    width:30em ;
}






.he1{

     margin-top: 190px;
     float: right;
     margin-right: 10px;
 font-size: 35px;
 color: blue;
    
}


 

